In [1]:
import  pandas as pd
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder
    .appName("titanic")
    .config(
        "spark.jars.packages",
        "org.apache.iceberg:iceberg-spark-runtime-3.4_2.12:1.6.1,"
        "org.apache.hadoop:hadoop-aws:3.3.4"
    )
    .config("spark.sql.catalog.demo", "org.apache.iceberg.spark.SparkCatalog")
    .config("spark.sql.catalog.demo.type", "hadoop")
    .config("spark.sql.catalog.demo.warehouse", "s3a://bronze/warehouse/")
    .config("spark.hadoop.fs.s3a.access.key", "teste")
    .config("spark.hadoop.fs.s3a.secret.key", "password")
    .config("spark.hadoop.fs.s3a.endpoint", "http://localhost:9000")
    .config("spark.hadoop.fs.s3a.path.style.access", "true")
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
    .getOrCreate()
)

your 131072x1 screen size is bogus. expect trouble
25/10/09 21:05:39 WARN Utils: Your hostname, DESKTOP-4LPUPP7 resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/10/09 21:05:39 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

:: loading settings :: url = jar:file:/home/andre/miniforge3/envs/iceberg/lib/python3.10/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/andre/.ivy2/cache
The jars for the packages stored in: /home/andre/.ivy2/jars
org.apache.iceberg#iceberg-spark-runtime-3.4_2.12 added as a dependency
org.apache.hadoop#hadoop-aws added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-c1095477-9f4d-4b6a-9c08-cbb4ec34cc54;1.0
	confs: [default]
	found org.apache.iceberg#iceberg-spark-runtime-3.4_2.12;1.6.1 in central
	found org.apache.hadoop#hadoop-aws;3.3.4 in central
	found com.amazonaws#aws-java-sdk-bundle;1.12.262 in central
	found org.wildfly.openssl#wildfly-openssl;1.0.7.Final in central
:: resolution report :: resolve 166ms :: artifacts dl 9ms
	:: modules in use:
	com.amazonaws#aws-java-sdk-bundle;1.12.262 from central in [default]
	org.apache.hadoop#hadoop-aws;3.3.4 from central in [default]
	org.apache.iceberg#iceberg-spark-runtime-3.4_2.12;1.6.1 from central in [default]
	org.wildfly.openssl#wildfly-openssl;1.0.7.Final from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   4   |   0   |   0   |   0   ||   4   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-c1095477-9f4d-4b6a-9c08-cbb4ec34cc54
	confs: [default]
	0 artifacts copied, 4 already retrieved (0kB/4ms)
25/10/09 21:05:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
%load_ext 00-prettytables

✅ Spark SQL Magic carregado! Use %sql ou %%sql para executar consultas Spark SQL.

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv")

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

25/10/09 21:05:52 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [5]:
%%sql
select  1

+---+
| 1 |
+---+
| 1 |
+---+

In [6]:
%%sql
SELECT * FROM demo.db_teste_iceberg.teste

25/10/09 21:06:42 WARN MetricsConfig: Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties

+----+------+-------+
| id | nome | valor |
+----+------+-------+
|  3 |    C |  11.5 |
|  1 |    A |  10.5 |
|  2 |    B |  20.0 |
|  4 |    B |  21.0 |
+----+------+-------+

In [11]:
spark.sql("""
    CREATE TABLE IF NOT EXISTS demo.ml_titanic_raw.titanic
""")

print("✅ Tabela criada com sucesso!")

✅ Tabela criada com sucesso!

In [12]:
spark_df = spark.createDataFrame(df)
spark_df.write.mode("overwrite").saveAsTable("demo.ml_titanic_raw.titanic")

In [ ]:
%%sql
select * from demo.ml_titanic_raw.titanic limit 100

+-------------+----------+--------+-----------------------------------------------------------+--------+------+-------+-------+------------------+----------+-------------+----------+
| PassengerId | Survived | Pclass |                                                      Name |    Sex |  Age | SibSp | Parch |           Ticket |     Fare |       Cabin | Embarked |
+-------------+----------+--------+-----------------------------------------------------------+--------+------+-------+-------+------------------+----------+-------------+----------+
|           1 |        0 |      3 |                                   Braund, Mr. Owen Harris |   male | 22.0 |     1 |     0 |        A/5 21171 |     7.25 |         NaN |        S |
|           2 |        1 |      1 |       Cumings, Mrs. John Bradley (Florence Briggs Thayer) | female | 38.0 |     1 |     0 |         PC 17599 |  71.2833 |         C85 |        C |
|           3 |        1 |      3 |                                     Heikkinen, Miss Laina | female | 26.0 |     0 |     0 | STON/O2. 3101282 |    7.925 |         NaN |        S |
|           4 |        1 |      1 |              Futrelle, Mrs. Jacques Heath (Lily May Peel) | female | 35.0 |     1 |     0 |           113803 |     53.1 |        C123 |        S |
|           5 |        0 |      3 |                                  Allen, Mr. William Henry |   male | 35.0 |     0 |     0 |           373450 |     8.05 |         NaN |        S |
|           6 |        0 |      3 |                                          Moran, Mr. James |   male |  nan |     0 |     0 |           330877 |   8.4583 |         NaN |        Q |
|           7 |        0 |      1 |                                   McCarthy, Mr. Timothy J |   male | 54.0 |     0 |     0 |            17463 |  51.8625 |         E46 |        S |
|           8 |        0 |      3 |                             Palsson, Master Gosta Leonard |   male |  2.0 |     3 |     1 |           349909 |   21.075 |         NaN |        S |
|           9 |        1 |      3 |         Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg) | female | 27.0 |     0 |     2 |           347742 |  11.1333 |         NaN |        S |
|          10 |        1 |      2 |                       Nasser, Mrs. Nicholas (Adele Achem) | female | 14.0 |     1 |     0 |           237736 |  30.0708 |         NaN |        C |
|          11 |        1 |      3 |                            Sandstrom, Miss Marguerite Rut | female |  4.0 |     1 |     1 |          PP 9549 |     16.7 |          G6 |        S |
|          12 |        1 |      1 |                                   Bonnell, Miss Elizabeth | female | 58.0 |     0 |     0 |           113783 |    26.55 |        C103 |        S |
|          13 |        0 |      3 |                            Saundercock, Mr. William Henry |   male | 20.0 |     0 |     0 |        A/5. 2151 |     8.05 |         NaN |        S |
|          14 |        0 |      3 |                               Andersson, Mr. Anders Johan |   male | 39.0 |     1 |     5 |           347082 |   31.275 |         NaN |        S |
|          15 |        0 |      3 |                       Vestrom, Miss Hulda Amanda Adolfina | female | 14.0 |     0 |     0 |           350406 |   7.8542 |         NaN |        S |
|          16 |        1 |      2 |                          Hewlett, Mrs. (Mary D Kingcome)  | female | 55.0 |     0 |     0 |           248706 |     16.0 |         NaN |        S |
|          17 |        0 |      3 |                                       Rice, Master Eugene |   male |  2.0 |     4 |     1 |           382652 |   29.125 |         NaN |        Q |
|          18 |        1 |      2 |                              Williams, Mr. Charles Eugene |   male |  nan |     0 |     0 |           244373 |     13.0 |         NaN |        S |
|          19 |        0 |      3 |   Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele) | female | 31.0 |     1 |     0 |           345763 |     18.0 |         NaN |        S |
|          20 |        1 |      3 |                                   Masselmani, Mrs. Fatima | female |  nan |     0 |     0 |             2649 |    7.225 |         NaN |        C |
|          21 |        0 |      2 |                                      Fynney, Mr. Joseph J |   male | 35.0 |     0 |     0 |           239865 |     26.0 |         NaN |        S |
|          22 |        1 |      2 |                                     Beesley, Mr. Lawrence |   male | 34.0 |     0 |     0 |           248698 |     13.0 |         D56 |        S |
|          23 |        1 |      3 |                                McGowan, Miss Anna "Annie" | female | 15.0 |     0 |     0 |           330923 |   8.0292 |         NaN |        Q |
|          24 |        1 |      1 |                              Sloper, Mr. William Thompson |   male | 28.0 |     0 |     0 |           113788 |     35.5 |          A6 |        S |
|          25 |        0 |      3 |                              Palsson, Miss Torborg Danira | female |  8.0 |     3 |     1 |           349909 |   21.075 |         NaN |        S |
|          26 |        1 |      3 | Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson) | female | 38.0 |     1 |     5 |           347077 |  31.3875 |         NaN |        S |
|          27 |        0 |      3 |                                   Emir, Mr. Farred Chehab |   male |  nan |     0 |     0 |             2631 |    7.225 |         NaN |        C |
|          28 |        0 |      1 |                            Fortune, Mr. Charles Alexander |   male | 19.0 |     3 |     2 |            19950 |    263.0 | C23 C25 C27 |        S |
|          29 |        1 |      3 |                              O'Dwyer, Miss Ellen "Nellie" | female |  nan |     0 |     0 |           330959 |   7.8792 |         NaN |        Q |
|          30 |        0 |      3 |                                       Todoroff, Mr. Lalio |   male |  nan |     0 |     0 |           349216 |   7.8958 |         NaN |        S |
|          31 |        0 |      1 |                                  Uruchurtu, Don. Manuel E |   male | 40.0 |     0 |     0 |         PC 17601 |  27.7208 |         NaN |        C |
|          32 |        1 |      1 |            Spencer, Mrs. William Augustus (Marie Eugenie) | female |  nan |     1 |     0 |         PC 17569 | 146.5208 |         B78 |        C |
|          33 |        1 |      3 |                                   Glynn, Miss Mary Agatha | female |  nan |     0 |     0 |           335677 |     7.75 |         NaN |        Q |
|          34 |        0 |      2 |                                     Wheadon, Mr. Edward H |   male | 66.0 |     0 |     0 |       C.A. 24579 |     10.5 |         NaN |        S |
|          35 |        0 |      1 |                                   Meyer, Mr. Edgar Joseph |   male | 28.0 |     1 |     0 |         PC 17604 |  82.1708 |         NaN |        C |
|          36 |        0 |      1 |                            Holverson, Mr. Alexander Oskar |   male | 42.0 |     1 |     0 |           113789 |     52.0 |         NaN |        S |
|          37 |        1 |      3 |                                          Mamee, Mr. Hanna |   male |  nan |     0 |     0 |             2677 |   7.2292 |         NaN |        C |
|          38 |        0 |      3 |                                  Cann, Mr. Ernest Charles |   male | 21.0 |     0 |     0 |       A./5. 2152 |     8.05 |         NaN |        S |
|          39 |        0 |      3 |                         Vander Planke, Miss Augusta Maria | female | 18.0 |     2 |     0 |           345764 |     18.0 |         NaN |        S |
|          40 |        1 |      3 |                                Nicola-Yarred, Miss Jamila | female | 14.0 |     1 |     0 |             2651 |  11.2417 |         NaN |        C |
|          41 |        0 |      3 |            Ahlin, Mrs. Johan (Johanna Persdotter Larsson) | female | 40.0 |     1 |     0 |             7546 |    9.475 |         NaN |        S |
|          42 |        0 |      2 |  Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott) | female | 27.0 |     1 |     0 |            11668 |     21.0 |         NaN |        S |
|          43 |        0 |      3 |                                       Kraeff, Mr. Theodor |   male |  nan |     0 |     0 |           349253 |   7.8958 |         NaN |        C |
|          44 |        1 |      2 |                   Laroche, Miss Simonne Marie Anne Andree | female |  3.0 |     1 |     2 |    SC/Paris 2123 |  41.5792 |         NaN |        C |
|          45 |        1 |      3 |                              Devaney, Miss Margaret Delia | female | 19.0 |     0 |     0 |           330958 |   7.8792 |         NaN |        Q |
|          46 |        0 |      3 |                                  Rogers, Mr. William John |   male |  nan |     0 |     0 |  S.C./A.4. 23567 |     8.05 |         NaN |        S |
|          47 |        0 |      3 |                                         Lennon, Mr. Denis |   male |  nan |     1 |     0 |           370371 |     15.5 |         NaN |        Q |
|          48 |        1 |      3 |                                  O'Driscoll, Miss Bridget | female |  nan |     0 |     0 |            14311 |     7.75 |         NaN |        Q |
|          49 |        0 |      3 |                                       Samaan, Mr. Youssef |   male |  nan |     2 |     0 |             2662 |  21.6792 |         NaN |        C |
|          50 |        0 |      3 |             Arnold-Franchi, Mrs. Josef (Josefine Franchi) | female | 18.0 |     1 |     0 |           349237 |     17.8 |         NaN |        S |
|          51 |        0 |      3 |                                 Panula, Master Juha Niilo |   male |  7.0 |     4 |     1 |          3101295 |  39.6875 |         NaN |        S |
|          52 |        0 |      3 |                              Nosworthy, Mr. Richard Cater |   male | 21.0 |     0 |     0 |       A/4. 39886 |      7.8 |         NaN |        S |
|          53 |        1 |      1 |                  Harper, Mrs. Henry Sleeper (Myna Haxtun) | female | 49.0 |     1 |     0 |         PC 17572 |  76.7292 |         D33 |        C |
|          54 |        1 |      2 |        Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson) | female | 29.0 |     1 |     0 |             2926 |     26.0 |         NaN |        S |
|          55 |        0 |      1 |                            Ostby, Mr. Engelhart Cornelius |   male | 65.0 |     0 |     1 |           113509 |  61.9792 |         B30 |        C |
|          56 |        1 |      1 |                                         Woolner, Mr. Hugh |   male |  nan |     0 |     0 |            19947 |     35.5 |         C52 |        S |
|          57 |        1 |      2 |                                          Rugg, Miss Emily | female | 21.0 |     0 |     0 |       C.A. 31026 |     10.5 |         NaN |        S |
|          58 |        0 |      3 |                                       Novel, Mr. Mansouer |   male | 28.5 |     0 |     0 |             2697 |   7.2292 |         NaN |        C |
|          59 |        1 |      2 |                               West, Miss Constance Mirium | female |  5.0 |     1 |     2 |       C.A. 34651 |    27.75 |         NaN |        S |
|          60 |        0 |      3 |                         Goodwin, Master William Frederick |   male | 11.0 |     5 |     2 |          CA 2144 |     46.9 |         NaN |        S |
|          61 |        0 |      3 |                                     Sirayanian, Mr. Orsen |   male | 22.0 |     0 |     0 |             2669 |   7.2292 |         NaN |        C |
|          62 |        1 |      1 |                                        Icard, Miss Amelie | female | 38.0 |     0 |     0 |           113572 |     80.0 |         B28 |      NaN |
|          63 |        0 |      1 |                               Harris, Mr. Henry Birkhardt |   male | 45.0 |     1 |     0 |            36973 |   83.475 |         C83 |        S |
|          64 |        0 |      3 |                                      Skoog, Master Harald |   male |  4.0 |     3 |     2 |           347088 |     27.9 |         NaN |        S |
|          65 |        0 |      1 |                                     Stewart, Mr. Albert A |   male |  nan |     0 |     0 |         PC 17605 |  27.7208 |         NaN |        C |
|          66 |        1 |      3 |                                   Moubarek, Master Gerios |   male |  nan |     1 |     1 |             2661 |  15.2458 |         NaN |        C |
|          67 |        1 |      2 |                              Nye, Mrs. (Elizabeth Ramell) | female | 29.0 |     0 |     0 |       C.A. 29395 |     10.5 |         F33 |        S |
|          68 |        0 |      3 |                                  Crease, Mr. Ernest James |   male | 19.0 |     0 |     0 |        S.P. 3464 |   8.1583 |         NaN |        S |
|          69 |        1 |      3 |                            Andersson, Miss Erna Alexandra | female | 17.0 |     4 |     2 |          3101281 |    7.925 |         NaN |        S |
|          70 |        0 |      3 |                                         Kink, Mr. Vincenz |   male | 26.0 |     2 |     0 |           315151 |   8.6625 |         NaN |        S |
|          71 |        0 |      2 |                                Jenkin, Mr. Stephen Curnow |   male | 32.0 |     0 |     0 |       C.A. 33111 |     10.5 |         NaN |        S |
|          72 |        0 |      3 |                                 Goodwin, Miss Lillian Amy | female | 16.0 |     5 |     2 |          CA 2144 |     46.9 |         NaN |        S |
|          73 |        0 |      2 |                                      Hood, Mr. Ambrose Jr |   male | 21.0 |     0 |     0 |     S.O.C. 14879 |     73.5 |         NaN |        S |
|          74 |        0 |      3 |                               Chronopoulos, Mr. Apostolos |   male | 26.0 |     1 |     0 |             2680 |  14.4542 |         NaN |        C |
|          75 |        1 |      3 |                                             Bing, Mr. Lee |   male | 32.0 |     0 |     0 |             1601 |  56.4958 |         NaN |        S |
|          76 |        0 |      3 |                                   Moen, Mr. Sigurd Hansen |   male | 25.0 |     0 |     0 |           348123 |     7.65 |       F G73 |        S |
|          77 |        0 |      3 |                                         Staneff, Mr. Ivan |   male |  nan |     0 |     0 |           349208 |   7.8958 |         NaN |        S |
|          78 |        0 |      3 |                                  Moutal, Mr. Rahamin Haim |   male |  nan |     0 |     0 |           374746 |     8.05 |         NaN |        S |
|          79 |        1 |      2 |                              Caldwell, Master Alden Gates |   male | 0.83 |     0 |     2 |           248738 |     29.0 |         NaN |        S |
|          80 |        1 |      3 |                                   Dowdell, Miss Elizabeth | female | 30.0 |     0 |     0 |           364516 |   12.475 |         NaN |        S |
|          81 |        0 |      3 |                                      Waelens, Mr. Achille |   male | 22.0 |     0 |     0 |           345767 |      9.0 |         NaN |        S |
|          82 |        1 |      3 |                               Sheerlinck, Mr. Jan Baptist |   male | 29.0 |     0 |     0 |           345779 |      9.5 |         NaN |        S |
|          83 |        1 |      3 |                             McDermott, Miss Brigdet Delia | female |  nan |     0 |     0 |           330932 |   7.7875 |         NaN |        Q |
|          84 |        0 |      1 |                                   Carrau, Mr. Francisco M |   male | 28.0 |     0 |     0 |           113059 |     47.1 |         NaN |        S |
|          85 |        1 |      2 |                                        Ilett, Miss Bertha | female | 17.0 |     0 |     0 |       SO/C 14885 |     10.5 |         NaN |        S |
|          86 |        1 |      3 |   Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson) | female | 33.0 |     3 |     0 |          3101278 |    15.85 |         NaN |        S |
|          87 |        0 |      3 |                                    Ford, Mr. William Neal |   male | 16.0 |     1 |     3 |       W./C. 6608 |   34.375 |         NaN |        S |
|          88 |        0 |      3 |                             Slocovski, Mr. Selman Francis |   male |  nan |     0 |     0 |  SOTON/OQ 392086 |     8.05 |         NaN |        S |
|          89 |        1 |      1 |                                 Fortune, Miss Mabel Helen | female | 23.0 |     3 |     2 |            19950 |    263.0 | C23 C25 C27 |        S |
|          90 |        0 |      3 |                                    Celotti, Mr. Francesco |   male | 24.0 |     0 |     0 |           343275 |     8.05 |         NaN |        S |
|          91 |        0 |      3 |                                      Christmann, Mr. Emil |   male | 29.0 |     0 |     0 |           343276 |     8.05 |         NaN |        S |
|          92 |        0 |      3 |                                Andreasson, Mr. Paul Edvin |   male | 20.0 |     0 |     0 |           347466 |   7.8542 |         NaN |        S |
|          93 |        0 |      1 |                               Chaffee, Mr. Herbert Fuller |   male | 46.0 |     1 |     0 |      W.E.P. 5734 |   61.175 |         E31 |        S |
|          94 |        0 |      3 |                                   Dean, Mr. Bertram Frank |   male | 26.0 |     1 |     2 |        C.A. 2315 |   20.575 |         NaN |        S |
|          95 |        0 |      3 |                                         Coxon, Mr. Daniel |   male | 59.0 |     0 |     0 |           364500 |     7.25 |         NaN |        S |
|          96 |        0 |      3 |                               Shorney, Mr. Charles Joseph |   male |  nan |     0 |     0 |           374910 |     8.05 |         NaN |        S |
|          97 |        0 |      1 |                                 Goldschmidt, Mr. George B |   male | 71.0 |     0 |     0 |         PC 17754 |  34.6542 |          A5 |        C |
|          98 |        1 |      1 |                           Greenfield, Mr. William Bertram |   male | 23.0 |     0 |     1 |         PC 17759 |  63.3583 |     D10 D12 |        C |
|          99 |        1 |      2 |                      Doling, Mrs. John T (Ada Julia Bone) | female | 34.0 |     0 |     1 |           231919 |     23.0 |         NaN |        S |
|         100 |        0 |      2 |                                         Kantor, Mr. Sinai |   male | 34.0 |     1 |     0 |           244367 |     26.0 |         NaN |        S |
+-------------+----------+--------+-----------------------------------------------------------+--------+------+-------+-------+------------------+----------+-------------+----------+

In [9]:
%%sql 

DROP TABLE IF EXISTS demo.ml_titanic_raw.titanic PURGE

++
||
++
++

In [10]:
%%sql
select sex, count(*) from demo.ml_titanic_raw.titanic group by sex

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `demo`.`ml_titanic_raw`.`titanic` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS.; line 1 pos 26;
'Aggregate ['sex], ['sex, unresolvedalias(count(1), None)]
+- 'UnresolvedRelation [demo, ml_titanic_raw, titanic], [], false

In [8]:
%%sql 

SELECT * FROM demo.db_teste_iceberg.teste

+----+------+-------+
| id | nome | valor |
+----+------+-------+
|  3 |    C |  11.5 |
|  1 |    A |  10.5 |
|  4 |    B |  21.0 |
|  2 |    B |  20.0 |
+----+------+-------+