In [2]:
%%sql
select * from pokemon.primeira_geracao order by energia

+--------+------------+--------+--------+---------+----------+------------------+
| numero |       name | ataque | defesa | energia | evolucao | proxima_evolucao |
+--------+------------+--------+--------+---------+----------+------------------+
|      4 | charmander |     52 |     43 |      39 |     True |       charmeleon |
|      1 |  bulbasaur |     49 |     49 |      45 |     True |          ivysaur |
|      2 |    ivysaur |     62 |     63 |      60 |     True |         venusaur |
|      3 |   venusaur |     82 |     83 |      80 |    False |          Nenhuma |
+--------+------------+--------+--------+---------+----------+------------------+

In [3]:
%%sql
CREATE TABLE pokemon.primeira_geracao_dev
USING iceberg
AS select * from pokemon.primeira_geracao

++
||
++
++

In [4]:
%%sql
select * from pokemon.primeira_geracao_dev order by energia

+--------+------------+--------+--------+---------+----------+------------------+
| numero |       name | ataque | defesa | energia | evolucao | proxima_evolucao |
+--------+------------+--------+--------+---------+----------+------------------+
|      4 | charmander |     52 |     43 |      39 |     True |       charmeleon |
|      1 |  bulbasaur |     49 |     49 |      45 |     True |          ivysaur |
|      2 |    ivysaur |     62 |     63 |      60 |     True |         venusaur |
|      3 |   venusaur |     82 |     83 |      80 |    False |          Nenhuma |
+--------+------------+--------+--------+---------+----------+------------------+